.mainMenu {
    width: 500px;
}
 
.mainMenuList a {
    color: #656668;
}

.mainMenuList a:hover {
    color: blue;
}

.mainMenuList {
    display: flex;
    flex-direction: row;
    align-items: center;
}