.icon {
    width: 25px;
    height: 25px;
    color: #229ED9;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #656668;
    width: 150px;
    height: 40px;
    padding: 5px;
    /* border-top-left-radius: 20px; */

}

.listItem {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    width: 100%;
} 

.navLink:hover {
     color: white;
    text-transform: uppercase;
    background: linear-gradient(45deg, #005bea, #00c6fb);
}
