* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body,
html,
#root {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

button {
  color: white;
  text-transform: uppercase;
  background: linear-gradient(45deg, #005bea, #00c6fb);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}