@import '@fontsource/roboto/700.css';

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    position: fixed;
    width: 100%;

}

.mainPanel {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(34, 60, 80, 0.2);
    justify-content: space-between;
}

.shopPanel {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 20px;
}

.leftPanel {
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rightPanel {
    display: flex;
    align-items: center;
    justify-content: space-around;
}